<!DOCTYPE html>
<html lang="pt-br">
<html>

<head>
    <meta charset="UTF-8" />
    <title>Fotos Cachaça Dupipe </title>
    <link rel="stylesheet" href="_css/estilo.css" />
    <link rel="stylesheet" href="_css/fotos.css" />
</head>
<script type="text/javascript" language="javascript" src="_javascript/funcoes.js"></script>

<body>
    <div id="interface">

        <header id="cabecalho">
            <hgroup>
                <!-- Agrupa os títulos, mas não faz diferença, mais pra organizar -->
                <h1>Cachaça Dupipe</h1>
                <h2>Cachaça artesanal feito de Cana</h2>
            </hgroup>

            <img id="icone" src="_imagens/fotos.png" />

            <nav id="menu">
                <ul type="disc">
                    <li onmouseover="mudaFoto('_imagens/home.png')" onmouseout="mudaFoto('_imagens/fotos.png')">
                        <a href="/">Home</a>
                    </li> <!-- li item -->
                    <li onmouseover="mudaFoto('_imagens/portifolio.png')" onmouseout="mudaFoto('_imagens/fotos.png')">
                        <a href="listarProdutos">Produtos</a>
                    </li>
                    <li onmouseover="mudaFoto('_imagens/fotos.png')" onmouseout="mudaFoto('_imagens/fotos.png')">
                        <a href="fotos">Fotos</a>
                    </li>
                    <li onmouseover="mudaFoto('_imagens/icone-mensagem.png')" onmouseout="mudaFoto('_imagens/fotos.png')">
                        <a href="cliente">Cliente</a>
                    </li>
                    <li onmouseover="mudaFoto('_imagens/icone-pagamento.png')"
                        onmouseout="mudaFoto('_imagens/fotos.png')">
                        <a href="pedido">Pedido</a>
                    </li>
                </ul>
            </nav>
        </header>

        <section id="corpo-full">
            <article id="noticia-principal">
                <header id="cabecalho-artigo">
                    <hgroup>
                        <h3>Dupipe > Fotos</h3>
                        <h1>Galeria de Imagens da Cahcaçaria</h1>
                        <h2>por Zeus Schmitz</h2>
                        <h3 class="direita">Atualizado em 03/Agosto/2017</h3>
                    </hgroup>
                </header>
                <p>Veja na nossa galeria de fotos várias e belas imagens que mostram os produtos.
                </p>
                <ul id="album-fotos">
                    <li id="foto01"><span>Garrafa Dupipe Amarelinha</span></li>
                    <li id="foto02"><span>Garrafa padrão Braquinha</span></li>
                    <li id="foto03"><span>Garrafa padrão Amarelinha</span></li>
                    <li id="foto04"><span>Garrafa padrão Pescador"</span></li>
                    <li id="foto05"><span>Garrafão padrão 4,8L</span></li>
                    <li id="foto06"><span>Licor Ameixa</span></li>
                </ul>
            </article>
        </section>

        <footer id="rodape">
            <p>Copyright &copy; 2019 - by Zeus Schmitz
                <a href="http://facebook.com/zeus.schmitz"> Facebook </a></p>
        </footer>
    </div>
</body>

</html>