<!DOCTYPE html>
<html>

<head>
    <title>Formulário de inclusão de produto</title>
</head>

<body>
    <h1>Inclusão de produto</h1>
    <hr width="30%" align="left">
        <a href=/formIncluirPedido><button type="button">Incluir Pedido</button></a>
        <a href=/formIncluirCliente><button type="button">Incluir Cliente</button></a>
    <hr width="30%" align="left">
    <br>
    <form action=/incluirProduto method=post>
        garrafa: <input type=text name=garrafa> <br>
        Nome: <input type=text name=nomProd> <br>
        Descrição do produto: <textarea name=descProd></textarea> <br>
        <input type=submit value=Incluir>
    </form>
</body>

</html>