<!DOCTYPE html>
<html>

<head>
    <title>Formulário de inclusão de cliente</title>
</head>

<body>
    <h1>Inclusão de cliente</h1>
    <hr width="30%" align="left">
        <a href=/formIncluirPedido><button type="button">Incluir Pedido</button></a>
        <a href=/formIncluirProduto><button type="button">Incluir Produto</button></a>
    <hr width="30%" align="left">
    <br>
    <form action=/incluirCliente method=post>
        Nome: <input type=text name=nome> <br>
        CPF: <input type=text name=cpf> <br>
        Email: <textarea name=email></textarea> <br>
        <input type=submit value=Incluir>
    </form>
</body>

</html>